@media screen and (max-width: 1200px) {
    .container {
        max-width: 990px;
    }

    .reviews__tabs {
        display: none;
    }

    .description__block h2 {
        font-size: 24px;
        padding: 48px;
    }

    .description__block__line {
        width: 142px;
    }

    .description__block p {
        font-size: 14px;
        margin-top: 32px;
    }

    /* ----------------header----------------- */

    .header .hamburger {
        display: none;
    }

    .header__menu {
        margin-right: 50px;
    }

    /* --------------axit--------------- */

    .axit__left img {
        content: url(../img/others/Group\ 16.png);
    }

    .axit:nth-child(2) .axit__left img {
        padding: 231px 0 54.08px 99px;
    }

    .axit:nth-child(2) .axit__left h1 {
        font-size: 36px;
        line-height: 42.26px;
        padding: 0 0 41.49px 99px;
    }

    .axit:nth-child(2) .axit__left div {
        width: 115px;
        margin-left: 99px;
    }

    .axit:nth-child(2) .axit__left p {
        padding: 31px 0 0 99px;
        font-size: 14px;
        line-height: 16.44px;
    }

    .axit:nth-child(2) .axit__left button {
        color: #FFFFFF;
        padding: 16px 50px 16px 50px;
        margin: 31.32px 0 185px 99px;
    }

    .axit__right form h4 {
        font-size: 18px;
        padding: 36px 52px 81px 52px;
    }

    /* ------------------icons--------------------- */

    .icons__media__left h4 {
        font-size: 18px;
        padding: 15px 0 15px 0;
    }

    .icons__media__left p {
        font-size: 14px;
        padding: 0 0 13px 0px;
        line-height: 16.44px;
    }

    .icons__media__left {
        width: 417px;
    }

    .icons__media__right {
        width: 575px;
        margin-right: 0px;
        gap: 35px;
    }

    /* ---------------------tabs-------------------------------- */

    .tabs {
        padding: 50px 0 50px 0;
    }

    .tabs__all > div > div {
        width: 593.78px;
        height: 386px;
    }

    .tabs__all > div img {
        object-fit: cover;
        width: 398.21px;
        height: 386px;
    }

    .tabs__block h3 {
        font-size: 24px;
        margin: 32.5px 30px 0 84.68px;
    }

    .tabs__block p {
        background-color: white;
        margin: 50.5px 30px 0 84.68px;
        font-size: 14px;
        line-height: 16.44px;
    }
    .tabs__all > label {
        padding: 13px 60.5px 13px 60.2px;
        font-size: 14px;
    }

    .tabs__block button {
        margin: 38px 220px 50px 84.68px;
    }

    /* ---------pricing-------------------- */

    .items__blocks .one img:nth-child(1) {
        content: url(../img/others/Ellipse\ 6.png);
    }

    .items__blocks .two img:nth-child(1) {
        content: url(../img/others/Group\ 18.png);
    }

    .items__blocks .three img:nth-child(1) {
        content: url(../img/others/Group\ 19.png);
    }

    /* ----------awesome--------------- */

    .awesome__block {
        margin-top: 32px;
        padding: 33.72px 0 0 0;
    }

    .awesome__block h4 {
        font-size: 18px;
        margin-top: 60px;
    }

    .awesome__block p {
        font-size: 14px;
        margin-top: 49px;
        line-height: 16.44px;
    }

    .items__blocks {
        gap: 0px 20px;
    }
    
    .awesome:nth-child(5) {
        padding-bottom: 60px;
        background-color: #FFFFFF;
    }
    
    .items__blocks {
        gap: 0px 20px;
    }

    .pricing__block {
        margin-top: 49.74px;
    }

    .height___options {
        margin-top: 32px;
    }

    /* ---------pricing--------------------------------------- */

    .reviews__item__author h4 {
        font-size: 18px;
    }

    .reviews__item__author p {
        font-size: 14px;
    }

    /* -------------reviews--------------------------- */

    .reviews:nth-child(7) {
        padding-bottom: 59px;
        background-color: #FFFFFF;
    }

    .reviews__wrapper {
        column-gap: 20px;
    }

    .reviews__item > p {
        font-size: 14px;
        line-height: 16.44px;
        padding: 50px 0px 50px 0px;
        margin-bottom: 66px;
    }

    /* ----------------axure-------------------- */

    .axure h2 {
        font-size: 24px;
        padding: 100px 0 50px 0;
    }

    .axure p {
        font-size: 14px;
        line-height: 16.44px;
        color: #FFFFFF;
        margin: 32px 0 0 0;
    }

    .axure button {
        margin-top: 32px;
        padding: 25px 150px 25px 150px;
    }

    /* ------------------footer--------------------------- */

    .footer .footer__icons a {
        transform: scale(0.8);
    }

    .footer p {
        font-size: 14px;
    }


    @media screen and (max-width: 992px) {
        .container {
            max-width: 720px;
        }

        .description__block h2 {
            font-size: 18px;
            padding: 38px;
        }
    
        .description__block__line {
            width: 122px;
        }
    
        .description__block p {
            font-size: 14px;
            margin-top: 32px;
        }

        /* -----------------header---------------- */

        .header .hamburger {
            display: none;
        }
    
        .header__menu {
            margin-right: 50px;
        }

        .header__menu {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 40px;
            margin-right: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 14px;
        }

        /* --------------axit--------------- */

        .axit__left img {
            transform: scale(0.8);
        }

        .axit:nth-child(2) .axit__left img {
            padding: 131px 0 34.08px 0px;
        }

        .axit:nth-child(2) .axit__left h1 {
            font-size: 24px;
            line-height: 30.26px;
            padding: 0 0 31.49px 10px;
        }

        .axit:nth-child(2) .axit__left div {
            margin-left: 10px;
        }

        .axit:nth-child(2) .axit__left p {
            padding: 21px 0 0 10px;
        }

        .axit:nth-child(2) .axit__left button {
            margin: 31.32px 0 185px 10px;
        }

        .axit__left {
            width: 602px;
        }

        .axit__right form h4 {
            font-size: 18px;
            padding: 36px 52px 81px 52px;
        }

        .axit__right form h4 {
            color: #333333;
            text-transform: uppercase;
            padding: 33px 22px 78px 22px;
        }

        .axit__right input {
            margin: 0 30px 33px 30px;
        }

        /* ------------icons---------------------- */

        .icons__media__left p {
            font-size: 12px;
        }

        .icons__media__right {
            width: 402px;
            margin-right: -40px;
        }

        .icons .icons__media .icons__media__right {
            transform: scale(0.7);
            gap: 20px;
        }

        /* ------------tabs------------------------ */

        .tabs {
            padding: 50px 0 20px 0;
        }
    
        .tabs__all > div > div {
            width: 415.78px;
            height: 386px;
        }
    
        .tabs__all > div img {
            width: 303.21px;
        }
    
        .tabs__block h3 {
            font-size: 18px;
            margin: 32.5px 30px 0 24.68px;
        }
    
        .tabs__block p {
            margin: 30.5px 30px 0 24.68px;
        }
        .tabs__all > label {
            padding: 13px 58.5px 13px 58.2px;
            font-size: 12px;
        }
    
        .tabs__block button {
            margin: 32px 220px 50px 24.68px;
            padding: 15px 70px 15px 70px;
        }

        /* ---------------awesome----------- */

        .awesome__block img {
            transform: scale(0.8);
        }

        .awesome__block {
            margin-top: 0px;
        }
    
        .awesome__block h4 {
            font-size: 16px;
            margin-top: 30px;
        }
    
        .awesome__block p {
            font-size: 12px;
            margin-top: 29px;
            line-height: 16.44px;
        }

        .awesome:nth-child(5) {
            padding-bottom: 40px;
            background-color: #FFFFFF;
        }
        
        /* ----------------pricing-------------------- */

        .pricing .description__block {
            padding-top: 20px;
        }

        .pricing__block__basic {
            font-size: 18px;
            height: 50px;
        }

        .pricing__block__10 {
            font-size: 26px;
            height: 70px;
        }

        .pricing__block__free {
            font-size: 14px;
        }

        .pricing__block p {
            font-size: 14px;
            height: 40px;
        }

        /* ----------reviews------------- */

        .reviews {
            padding-top: 20px;
        }

        .reviews__wrapper {
            margin-top: 43px;
            column-gap: 10px;
        }

        .reviews__item {
            width: 30%;
        }

        .reviews__item > p {
            font-size: 12px;
            padding: 30px 0px 30px 0px;
            margin-bottom: 36px;
        }

        .reviews__item > p::after {
            transform: scale(0.9);
        }

        .reviews__item__author img {
            transform: scale(0.8);
        }

        .reviews__item__author h4 {
            font-size: 13px;
            margin: 10px 0 20px 0;
        }
    
        .reviews__item__author p {
            font-size: 10px;
        }

        .reviews:nth-child(7) {
            padding-bottom: 30px;
        }

        /* -----------axure------------------ */

        .axure h2 {
            font-size: 18px;
            padding: 50px 0 40px 0;
        }
    
        .axure p {
            margin: 25px 0 0 0;
        }
    
        .axure button {
            margin-top: 32px;
            padding: 15px 50px 15px 50px;
        }

        /* --------------contact------------------ */

        .contact .description__block {
            padding-top: 20px;
        }

        .contact .description__block p {
            margin-bottom: 50px;
        }

        .contact__form button {
            width: 250px;
            padding: 15.5px 50px 15.5px 50px;
            margin: 50px 0 50px 50%;
        }

        /* -------------------footer-------------------- */

        .footer .footer__icons a {
            transform: scale(0.7);
        }

        .footer__icons {
            gap: 10px;
            padding: 20.65px 0 20.44px 0;
        }
    }

    @media screen and (max-width: 767px) {

        .container {
            max-width: 100%;
        }

        .header img {
            margin-left: -63px;
        }

        /* -------------------header--------------- */

        .header .hamburger {
            display: block;
            margin-right: -12px;
            z-index: 1;
        }

        .header .header__menu {
            display: none;
        }

        /* -----------------------axit-------------- */

        .axit {
            padding: 0 16px 50px 16px;
        }

        .axit__left {
            width: 100%;
        }

        .axit__right {
            width: 100%;
        }

        .axit__left img {
            display: none;
        }

        .axit .container {
            display: flex;
            flex-direction: column;
        }

        .axit:nth-child(2) .axit__left h1 {
            justify-content: center;
            text-align: center;
            font-size: 36px;
            line-height: 42.26px;
            padding: 140.12px 0px 43.88px 0px;
        }

        .axit:nth-child(2) .axit__left div {
            width: 134px;
            height: 1px;
            border-bottom: 1px solid #FFFFFF;
            margin: 0 auto;
            margin-bottom: 42px;
        }

        .axit:nth-child(2) .axit__left p {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 0 42px 0;
            font-size: 14px;
            line-height: 16.44px;
        }

        .axit:nth-child(2) .axit__left button {
            display: flex;
            padding: 15px 90px 15px 90px;
            margin: 0 auto;
            margin-bottom: 56px;
        }

        /* ----------icons---------------------- */

        .icons {
            padding-bottom: 46.17px;
        }

        .icons__media {
            display: block;
        }
        
        .icons__media__left {
            width: 100%;
            display: block;
        }

        .icons__media__left h4 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            padding: 44.5px 0 26.5px  0;
        }

        .icons__media__right {
            width: 100%;
            margin-left: 30px;
        }

        .icons__media__left p {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 14px;
            color: #86878B;
            padding: 0 0 35.23px 0px;
            line-height: 16.44px;
        }

        .icons .icons__media .icons__media__right a {
            transform: scale(0.8);
        }

        .icons .icons__media .icons__media__right {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            gap: 0px;
        }

        /* ---------------tabs--------------------- */

        .tabs {
            padding: 45px 0 0px 0;
            margin: 0 16px 0 16px;
        }

        .tabs__all > label {
            padding: 13px 50.5px 13px 50.2px;
            font-size: 12px;
        }

        .tabs__all > div > div {
            width: 100%;
            height: 100%;
        }

        .tabs__all > div img {
            width: 100%;
            display: none;
        }

        .tabs__block h3 {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 18px;
        }
    
        .tabs__block p {
            max-width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 13px;
            line-height: 15.26px;
        }
        .tabs__all > label {
            display: inline-block;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 33.3%;
            padding: 13px 25px 13px 25px;
            font-size: 12px;
        }

        .tabs__all > label:nth-child(1) {
            margin-left: 15px;
        }

        .tabs__block button {
            display: flex;
            margin: 0 auto;
            margin-top: 29px;
            margin-bottom: 30px;
        }

        /* --------------awesome--------------- */

        .awesome .description__block {
            padding-top: 20px;
        }

        .awesome .description__block p {
            font-size: 13px;
            padding: 0 15px 0 15px;
            line-height: 15.26px;
            margin-bottom: 70px;
        }

        .awesome .description__block .description__block__line {
            width: 134px;
        }

        .awesome:nth-child(5) {
            padding-bottom: 60px;
        }

        .items__blocks {
            display: block;
        }

        .awesome__block img {
            transform: scale(0.9);
        }

        .awesome__block {
            margin-top: 32px;
            padding: 0.72px 50px 0 50px;
        }

        .awesome__block h4 {
            font-size: 18px;
            margin-top: 40px;
        }
    
        .awesome__block p {
            font-size: 14px;
            margin-top: 40px;
            line-height: 16.44px;
        }
        
        /* --------------pricing-------------- */

        .pricing:nth-child(6) {
            padding-bottom: 26px;
        }

        .items__blocks {
            display: block;
        }
        
        .pricing__block {
            margin-top: 79px;
            width: 100%;
            counter-reset: number 0;
        }

        .items__blocks {
            margin: 0 16px 0 16px;
        }

        .pricing .description__block h2 {
            font-size: 24px;
        }

        .pricing .description__block .description__block__line {
            width: 134px;
        }

        .pricing .description__block p {
            font-size: 14px;
            padding: 0 15px 0 15px;
            line-height: 16.44px;
            margin-bottom: 24px;
        }

        .pricing__block {
            margin-top: 24px;
        }

        .pricing__block__basic {
            font-size: 18px;
        }

        .pricing__block__10 {
            font-size: 24px;
        }

        .shadow__block {
            box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
        }

        /* -----------reviews------------------- */

        .reviews .description__block h2 {
            font-size: 24px;
        }

        .reviews .description__block .description__block__line {
            width: 134px;
        }

        .reviews .description__block p {
            font-size: 14px;
            padding: 0 15px 0 15px;
            line-height: 16.44px;
            margin-bottom: 24px;
        }

        .reviews:nth-child(7) {
            padding: 0 0 31.51px 0;
        }

        .reviews__tabs > input[type="radio"] {
            display: none;
        }

        .reviews__wrapper {
            display: none;
        }

        .reviews__tabs {
            display: block;
            justify-content: flex-start;
            text-align: center;
            margin-top: 24px;
        }

        .reviews {
            margin: 0 15px 0 15px;
            border: 0;
        }

        .reviews__tabs {
            width: 100%;
        }

        .reviews__tabs > div {
            display: none;
            font-size: 16px;
        }

        #radio__tabs__one:checked ~ #reviews__tabs__one,
        #radio__tabs__two:checked ~ #reviews__tabs__two,
        #radio__tabs__three:checked ~ #reviews__tabs__three {
            display: block;
        }

        .reviews__tabs > label {
            display: inline-block;
            justify-content: center;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        .reviews__tabs > #radio__tabs__one:checked ~ label[for=radio__tabs__one],
        .reviews__tabs > #radio__tabs__two:checked ~ label[for=radio__tabs__two],
        .reviews__tabs > #radio__tabs__three:checked ~ label[for=radio__tabs__three] {
            background-color: #86878B;
        }

        .reviews__tabs label[for=radio__tabs__one],
        .reviews__tabs label[for=radio__tabs__two],
        .reviews__tabs label[for=radio__tabs__three] {
            border: 1px solid #86878B;
        }

        #reviews__tabs__one > p,
        #reviews__tabs__two > p,
        #reviews__tabs__three > p  {
            position: relative;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 16.44px;
            background-color: #E2E2E2;
            border-radius: 10px;
            padding: 50px 0px 50px 0;
            text-align: center;
            color: #86878B;
            margin-bottom: 62px;
        }

        #reviews__tabs__one > p::after,
        #reviews__tabs__two > p::after,
        #reviews__tabs__three > p::after   {
            position: absolute;
            content: '';
            position: absolute;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 20px solid #E2E2E2;
            left: 70px;
            bottom: -19px;
        }

        .reviews__tabs .reviews__item__author img {
            display: flex;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 30px;
        }
        
        .reviews__tabs .reviews__item__author h4 {
            display: flex;
            margin: -40px 0 20px 95px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 14px;
        }
        
        .reviews__tabs .reviews__item__author p {
            display: flex;
            margin: 0 0 32px 95px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 13px;
        }

        /* ------------------axure------------- */

        .axure {
            padding-bottom: 58px;
        }

        .axure h2 {
            text-align: center;
            font-size: 24px;
            padding: 50px 0 50px 0;
            margin: 0 16px 0 16px;
        }
    
        .axure p {
            display: flex;
            text-align: center;
            font-size: 14px;
            margin: 16px 16px 66px 16px;
        }
    
        .axure button {
            /* width: 100%; */
            margin-top: 32px;
            padding: 15px 90px 15px 90px;
        }

        /* ------------------contact------------- */

        .contact {
            margin: 0 16px 0 16px;
        }

        .contact .description__block {
            padding-top: 0px;
        }

        .contact .description__block h2 {
            font-size: 24px;
            padding: 50px 0 50px 0;
        }
    
        .contact .description__block p {
            display: flex;
            justify-content: center;
            font-size: 14px;
            margin: 16px 0 64px 0;
            line-height: 16.44px;
        }
    
        .contact .contact__form > div {
            display: block;
        }

        .contact .contact__form {
            max-width: 767px;
            display: block;
        }

        .contact__form button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            padding: 10px 10px 10px 10px;
        }

        .contact__wrapper > div {
            margin-bottom: 0px;
        }

        .contact__form textarea {
            width: 100%;
            padding-bottom: 182px;
        }
        
        .contact__form textarea::placeholder {
            font-size: 14px;
            color:#BDBDBD;
        }




    }








}









