@media screen and (max-width: 1200px) {
    .container {
        width: 992px;
        /* margin-left: 15px;
        margin-right: 15px; */
    }

    .logo .hamburger {
        display: none;
    }

    .logo .container h2 {
        margin-left: 10px;
    }

    .logo .container .logo__nav {
        height: 60px;
        padding: 0;
    }

    main .container p {
        width: 100%;
    }

    aside .container p {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .burger .burger__hamburger {
        display: none;
    }

    .columns .container div {
        width: 48%;
    }

    .columns .container div:nth-child(1n) {
        margin-right: 15px;
    }
    .columns .container div:nth-child(2n) {
        margin-right: 0;
    }

    .columns .container div:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {

    body {
        margin: 0;
    }

    .container {
        width: 720px;
        padding: 0px;
    }

    .logo {
        margin: 0px;
    }

    .logo .container h2 {
        margin-top: 5px;
    }

    .logo .container .logo__nav {
        margin-top: 5px;
        padding: 110px;
        /* width: 100%; */
    }

    .logo .container {
        position: relative;
        display: block;
    }

    .logo__hamburger {
        position: absolute;
        margin: -365px 0px 0px 755px;
    }

    main .container p {
        width: 100%;
        margin: 15px 15px 0px 15px;
    }

    aside .container p {
        width: 100%;
        margin-bottom: 10px;
    }

    .columns {
        margin-top: -10px;
    }

    .columns .container div:nth-child(1n) {
        margin-right: 0;
        width: 100%;
    }

    .logo .hamburger {
        display: block;
    }

    .logo .container h2 {
        height: 80px;
        font-size: 80px;
    }

}