@media screen and (max-width: 1200px) {
    .container {
        width: 992px;
        margin: 0 auto;
    }

    .logo .hamburger {
        display: none;
    }

    .logo .container h2 {
        margin-left: 20px;
    }

    .logo .container .logo__nav {
        height: 60px;
        padding: 0;
        margin-right: 15px;
    }

    main .container p {
        width: 100%;
        margin: 0px 15px 0 15px;
    }

    aside .container p {
        width: 100%;
        margin-left: 0;
        margin: 15px 15px 0 15px;
    }

    .burger .burger__hamburger {
        display: none;
    }

    .columns .container div {
        width: 46%;
        margin: 15px 0px 0 15px;
    }

    .columns .container div:nth-child(1n) {
        margin-right: 15px;
    }

    .columns .container div:nth-child(2n) {
        margin-right: 15px;
        margin-left: 0px;
    }

    .columns .container div:last-child {
        margin-right: 15px;
    }
}

@media screen and (max-width: 992px) {

    .container {
        width: 100%;
    }

    .logo {
        margin: 0px;
    }

    .logo .container h2 {
        margin-top: 5px;
    }

    .logo .container .logo__nav {
        margin: 5px 0 0 0;
        padding: 110px;
    }

    .logo .container {
        position: relative;
        display: block;
    }

    .logo__hamburger {
        position: absolute;
    }

    main .container p {
        width: 100%;
        margin: 15px 15px 0px 15px;
    }

    aside .container p {
        width: 100%;
        margin-bottom: 10px;
        margin: 15px 0 0 0;
    }

    .columns .container div:nth-child(1n) {
        margin-right: 0;
        margin: 15px 0 0 0 ;
        width: 100%;
    }

    .logo .hamburger {
        display: block;
        position: fixed;
        right: 5px;
        top: 5px;
    }

    .logo .container h2 {
        height: 80px;
        font-size: 80px;
    }
}