@media screen and (max-width: 1200px) {
    .container {
        width: 992px;
        background-color: #fff;
    }

    .logo .container h2 {
        margin-left: 10px;
    }

    main .container p {
        width: 100%;
    }

    aside .container p {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .burger .burger__hamburger {
        display: none;
    }

    .columns .container div {
        width: 48%;
    }

    .columns .container div:nth-child(1n) {
        margin-right: 15px;
    }
    .columns .container div:nth-child(2n) {
        margin-right: 0;
    }

    .columns .container div:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
        background-color: rgb(146, 121, 121);
    }

    .logo .container .logo__nav {
        display: none;
    }

    aside .container p {
        width: 100%;
        margin: 15px 15px 15px 15px;
    }

    .columns {
        margin-top: -10px;
    }

    .columns .container div:nth-child(1n) {
        margin-right: 0;
        width: 100%;
    }

    .burger .burger__hamburger {
        display: block;
    }
}