body {
    background-color: aquamarine;
    padding: 100px;
}

.card {
    width: 290px;
    background-color: red;
    padding: 70px 21px 26px 21px;
    z-index: 1;
}

.card__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.card__title::after{
    content: url(img/);
    margin-left: 10px;
}

.card__photo {
    width: 100px;
    height: 100px;
    border: 6px solid #ffffff;
    background-color: blue;
    border-radius: 50%;
    object-fit: cover;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: cover;
}

.card__text {
    text-align: center;
}