.container {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

.favorites__item {
    width: 100%;
}

.favorites__item__img {
    height: 396px;
    background-color: red;
    position: relative;
}

.favorites__item__img a {
    letter-spacing: 2px;
    color: black;
    width: 276px;
    height: 48px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 60px;
}

.favorites__item__img a:first-of-type {
    top: 144px;
}

.favorites__item__img a:last-of-type {
    top: 204px;
}