* {
    box-sizing: border-box;
}

.main {
    width: 1508px;
    height: auto;
}

.container__options {
    display: flex;
    flex-direction: column;
    width: 1508px;
    height: 900px;
    margin: 0 15px;
    background-color: #F5F5F5;
}

.container__what {
    display: flex;
    flex-direction: column;
    width: 1508px;
    height: 744px;
    margin: 0 15px;
    background-color: #FFFFF;
}

.container__options__header {
    text-align: center;
    line-height: 149px;
    font-size: 36px;
    font-family: 'Raleway', serif;
    color: #000000;
    width: 1170px;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #FFFFFF;
}

.line {
    width: 170px;
    height: 0px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
}

.container__options__lorem {
    color: #86878B;
    text-align: center;
    margin-top: 40px;
    width: 1169px;
    height: 21px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 18px;
}

.container__options__block__one, .container__options__block__two, .container__options__block__three {
    float: left;
    width: 370px;
    height: 510px;
    background-color: #FFFFFF;
    margin-top: 79px;
}

.container__options__block__one {
    margin-left: 168px;
}

.container__options__block__two {
    margin-top: 59px;
    margin-left: 30px;
}

.container__options__block__three {
    margin-left: 30px;
}

.height {
    height: 336px;
    margin-top: 83px;
}

.container__options__block__one__basic {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    width: 370px;
    height: 60px;
    border-bottom: 1px solid #F5F5F5;
    background-color: #333333;
    z-index: 1;
}

.container__options__block__one__10 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    width: 370px;
    height: 100px;
    background-color: #333333;
    border-bottom: 1px solid #F5F5F5;
}

.container__options__block__one__free {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    width: 370px;
    height: 50px;
    background-color: #333333;
    border-bottom: 1px solid #F5F5F5;
}

.container__options__block__one__1gb {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 370px;
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
}

.center__of__block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow_block {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* -------------------------------------------------------------------------------------------------------- */

.container__options__block__one__lorem {
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    width: 370px;
    height: 180px;
    border-radius: 10px;
    background-color: #E2E2E2;
}

.container__options__block__one__lorem__triangle {
    width: 30px;
    height: 20px;
    margin-left: 72px;
}

.container__options__block__one__lorem__guy {
    margin-top: 46px;
    width: 30px;
    height: 20px;
}

.guy {
    display: flex;
    width: 370px;
    height: 136px;
    background-color: #EC7979;
}

.text__center {
    font-family: 'Open Sans', sans-serif;
    margin-left: 70px;
    margin-top: 59px;
    font-size: 24px;
    font-weight: 700;
}

.text__center2 {
    font-family: 'Raleway', sans-serif;
    margin-left: -230px;
    margin-top: 115px;
    font-size: 18px;
    font-weight: 400;
}