* {
    box-sizing: border-box;
}

.table{
    font-size: 18px;
    width: 80%;
    margin: 200px auto;
    align-items: center;
}

.table td {
    border: 1px solid black;
    height: 30px;
    vertical-align: middle;
    padding-left: 5px;
}

.table th {
    font-weight: 700;
}

.table td:nth-child(3) {
    text-align: center;
}
