* {
    box-sizing: border-box;
}

.container {
    width: 1510px;
    height: 5548px;
    margin: 0px auto;
}

.container__main:nth-child(1) {
    padding-bottom: 58px;
}

.container__main:nth-child(2) {
    padding-bottom: 50px;
    background-color: #F5F5F5;
}

.container__main:nth-child(3) {
    padding-bottom: 64px;
}

/* -------------------WHY THIS IS AWESOME---------------------------------------------- */
.container__main {
    width: 1510px;
}

.section {
    max-width: 1170px;
    margin: 0px auto;
}

.section__why {
    padding-top: 50px;
    width: 1170px;
    max-width: 1170px;
}

.section__why h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    padding: 75px;
}

.line {
    width: 170px;
    height: 1px;
    border-bottom: 1px solid #EC7979;
    margin: 0px auto;
}

.section__why p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.section__main__row {
    display: flex;
    justify-content: space-between;
    gap: 0px 30px;
}

.section__main__block {
    margin-top: 71px;
    padding: 39px 0 0 0;
}

.image {
    margin: 0 auto;
    display: flex;
}

.section__main__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
}

.wrapper__group1__Lorem {
    width: 370px;
    height: 105px;
    background-color: #c09292;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 43px;
}

.section__main__block h5 {
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 42.5px;
    line-height: 21.13px;
}

.section__main__block span{
    display: block;
}

/* --------------PRICING OPTIONS--------------------------------------------------- */

/* .red {
    background-color: red;
} */

.container__options__block {
    background-color: #FFFFFF;
    margin-top: 79px;
    width: 370px;
}

.height___options {
    margin-top: 59px;
    height: 510px;
}

.container__options__block__one__basic {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    height: 60px;
    border-bottom: 1px solid #F5F5F5;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__options__block__one__10 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    height: 100px;
    background-color: #333333;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__options__block__one__free {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    height: 50px;
    background-color: #333333;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__options__block__one__1gb {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow_block {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* --------------WHAT OUR CUSTOMERS ARE SAYING--------------------------------------------------- */

.container__options__block__saying {
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    width: 370px;
    height: 180px;
    border-radius: 10px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height {
    margin-top: 83px;
}

.container__options__block__one__lorem__triangle {
    width: 30px;
    height: 20px;
    margin-left: 72px;
}

.container__options__block__one__lorem__guy {
    margin-top: 46px;
    width: 30px;
    height: 20px;
}

.guy {
    display: flex;
    width: 370px;
    height: 136px;
}

.text__name__of__people {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    justify-content: space-between;
    width: 269px;
    height: 54px;
    margin-left: 70px;
    margin-top: 46px;
    font-size: 24px;
    display: flex;
    align-items: center;
}


.text__manager {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 270px;
    height: 21px;
    margin-left: -270px;
    margin-top: 115px;
    font-size: 18px;
}










