body {
    background-color: rgb(128, 99, 99);
}

.container {
    display: flex;
    width: 1170px;
    background-color: blue;
    margin: 0 auto;
    flex-wrap: wrap;
}

header {
    margin-bottom: 15px;
}

.logo .container h2 {
    color: brown;
    font-size: 34px;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.logo .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    height: 34px;
    flex-grow: 8;
    color: #fff;
    background-color: brown;
}

main .container p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 34px;
    width: 780px;
    color: #fff;
    background-color: brown;
    margin-bottom: 15px;
}

aside .container p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 34px;
    margin-left: calc(780px + 5px);
    margin-top: -315px;
    display: flex;
    width: 385px;
    color: #fff;
    background-color: brown;
    margin-bottom: 15px;
}

.columns .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    width: 300px;
    flex-wrap: wrap;
    height: 100px;
    background-color: #fff;
    margin: 0 5px 5px 0;
    color: #fff;
    background-color: brown;
    flex-grow: 1;
}

.columns .container div:nth-child(3n) {
    margin-right: 0;
}

.burger__hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
}

.burger__hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #f8982b;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
}
