* {
    box-sizing: border-box;
}

/* -------------------WHY THIS IS AWESOME---------------------------------------------- */

.section:nth-child(1) {
    padding-bottom: 58px;
    background-color: #FFFFFF;
    background-color: red;
}

.section:nth-child(2) {
    padding-bottom: 50px;
    background-color: #F5F5F5;
    background-color: blue;
}

.section:nth-child(3) {
    padding-bottom: 64px;
    background-color: #FFFFFF;
    background-color: red;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

.title__block {
    padding-top: 50px;
    max-width: 1170px;
}

.title__block h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    padding: 75px;
}

.title__block__line {
    width: 170px;
    height: 1px;
    border-bottom: 1px solid #EC7979;
    margin: 0px auto;
}

.title__block p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.action__block {
    display: flex;
    justify-content: space-between;
    gap: 0px 30px;
}

.action__block__section__one {
    margin-top: 71px;
    padding: 39px 0 0 0;
}

.action__block__section__one img {
    margin: 0 auto;
    display: flex;
}

.action__block__section__one h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
}

.action__block__section__one p {
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 42.5px;
    line-height: 21.13px;
}

.action__block__section__one span{
    display: block;
}

/* --------------PRICING OPTIONS--------------------------------------------------- */

.action__block__section__two {
    background-color: #FFFFFF;
    margin-top: 79px;
    width: 370px;
}

.height___options {
    margin-top: 59px;
    margin-bottom: 20px;
}

.shadow__block {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.action__block__section__two__basic {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    height: 60px;
    border-bottom: 1px solid #F5F5F5;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action__block__section__two__10 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    height: 100px;
    background-color: #333333;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action__block__section__two__free {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    height: 50px;
    background-color: #333333;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action__block__section__two__1gb {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------WHAT OUR CUSTOMERS ARE SAYING--------------------------------------------------- */

.action__block__section__three {
    margin-top: 83px;
}

.action__block__section__three__title {
    color: #86878B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    max-width: 370px;
    padding: 38px 0px 37px 0px;
    border-radius: 10px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action__block__section__three__triangle {
    width: 30px;
    height: 20px;
    margin-left: 72px;
}

.action__block__section__three__image {
    display: flex;
    max-width: 370px;
    height: 136px;
}

.action__block__section__three__image div {
    margin-top: 46px;
    max-width: 30px;
    height: 20px;
}

.action__block__section__three__image h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    justify-content: space-between;
    width: 269px;
    height: 54px;
    margin-left: 70px;
    margin-top: 46px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.action__block__section__three__image h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 270px;
    height: 21px;
    margin-left: -270px;
    margin-top: 115px;
    font-size: 18px;
}









