* {
    /* margin: 0; */
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
}

// .row > * {
//     padding: 0;
// }

.title__one {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    padding-top: 67px;
}

.title__two {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    padding-top: 42px;
}

.header {

    // .col-lg-12 {
    //     background-color: red;
    // }

    background: url(../img/header/Group\ 6.png) no-repeat center center / cover;

    &__menu {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        column-gap: 62px;

        a {
            width: 85px;
            height: 20px;
            gap: 30px;
            height: 20px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            align-items: center;

            &:hover {
                color: #F4BF87;
                border-bottom: 1px solid #F4BF87;
            }
        }
    }

    &__creative {
        font-family: 'Kaushan Script';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 93px;
        padding-top: 100px;
    }

    &__welcome {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 144px;
        line-height: 176px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    &__line {
        width: 170px;
        height: 1px;
        background-color: #FFFFFF;
        border: 2px solid #FFFFFF;
        margin-top: 44px;
    }

    &__button {
        width: 370px;
        height: 80px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 4px solid #FFFFFF;
        margin: 74.42px 0 201px 0;
    }
}

.wedo {
    padding-bottom: 108px;

    .header__line {
        margin-bottom: 41px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .row:nth-of-type(4) div {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 58px;
    }

    .wedo__image__one {
        display: block;
        right: 1200px;
        div {
            position: absolute;
            background: url(../img/section_wedo/hover.png) no-repeat center center / cover;
            width: 370px;
            height: 338px;
            display: none;
            padding-top: 121px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
            right: 16px;
            top: -16px;
        }
    }

    .wedo__image__two {
        display: block;
        right: 830px;
        div {
            position: absolute;
            background: url(../img/section_wedo/hover.png) no-repeat center center / cover;
            width: 370px;
            height: 338px;
            display: none;
            padding-top: 121px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
            right: 16px;
            top: -16px;
        }
    }

    .wedo__image__three {
        display: block;
        right: 460px;
        div {
            position: absolute;
            background: url(../img/section_wedo/hover.png) no-repeat center center / cover;
            width: 370px;
            height: 338px;
            display: none;
            padding-top: 121px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
            right: 16px;
            top: -16px;
        }
    }

    .row:nth-of-type(5) div {
        gap: 30px;

        position: relative;
        img:nth-of-type(1):hover ~ .wedo__image__one > div {
            display: block;
        }

        img:nth-of-type(2):hover ~ .wedo__image__two > div {
            display: block;
        }

        img:nth-of-type(3):hover ~ .wedo__image__three > div {
            display: block;
        }
        
    }
}

.numbers {
    background-color: #95E1D3;

    .col-lg-12 div:not(:last-child) {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 234px;
        height: 252px;
        background-color: #95E1D3;
        display: flex;
        border-left: 1px solid #FFFFFF;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 75px;
        color: #FFFFFF;
        
        span {
            font-size: 64px;
            font-weight: 700;
        }
    }

    .col-lg-12 div:last-child {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 234px;
        height: 252px;
        background-color: #95E1D3;
        display: flex;
        border-left: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 75px;
        color: #FFFFFF;

        span {
            font-size: 64px;
            font-weight: 700;
        }
    }
}

.amazing {
    padding-bottom: 91px;
    .header__line {
        margin-bottom: 87.7px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .col-lg-4 {
        display: flex;

        div:first-child {
            margin-right: 30px;
        }

        div:last-child {
            h2 {
                padding: 15px 0 20px 0;
                text-transform: uppercase;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }

            p {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }

    .amazing__two {
        margin-top: 150.21px;
    }
}

.devices {
    position: relative;
    background: url(../img/section_unique/Berge.png) no-repeat center center / cover;
    padding-bottom: 57px;

    .header__line {
        margin-bottom: 87.7px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .devices__tablet img:last-child {
        position: absolute;
        right: 375px;
        top: 545px;
        z-index: 2;
    }
}

.servise {
    .container {
        // background-color: blue;
    }

    padding-bottom: 114px;

    .header__line {
        margin-bottom: 42px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .container .row:nth-of-type(2) div > p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 84px;
    }

    .row:nth-of-type(3) .col-lg-6:first-child {
        width: 570px;
        height: 483px;
        margin-right: 15px;
        background: url(../img/section_servise/unsplash_1lGeOg6IULc.png) no-repeat center center / cover;
    }
}

.slider {
    background-color: #F8F8F8;
}

.meet {
    padding-bottom: 84px;

    .header__line {
        margin-bottom: 41px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .container .row:nth-of-type(2) div > p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 84px;
    }

    .wedo__image__one {
        position: relative;
        display: block;
        right: 1200px;
        div {
            position: absolute;
            background: url(../img/section_wedo/hover.png) no-repeat center center / cover;
            width: 370px;
            height: 424px;
            display: none;
            padding-top: 207px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
            right: 16px;
            top: -16px;

            img {
                width: 42px;
                height: 42px;
                background-color: #F9EFCF;

                &:active {
                    background-color: #F38281;
                    filter: invert(1) sepia(0%) saturate(7545%) hue-rotate(536deg) brightness(99%) contrast(103%);
                }
            }
        }
    }

    .wedo__image__two {
        display: block;
        right: 830px;
        div {
            position: absolute;
            background: url(../img/section_wedo/hover.png) no-repeat center center / cover;
            width: 370px;
            height: 424px;
            display: none;
            padding-top: 207px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
            right: 16px;
            top: -16px;

            img {
                width: 42px;
                height: 42px;
                background-color: #F9EFCF;

                &:active {
                    background-color: #F38281;

                }
            }
        }
    }

    .wedo__image__three {
        display: block;
        right: 460px;
        div {
            position: absolute;
            background: url(../img/section_wedo/hover.png) no-repeat center center / cover;
            width: 370px;
            height: 424px;
            display: none;
            padding-top: 207px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
            right: 16px;
            top: -16px;

            img {
                width: 42px;
                height: 42px;
                background-color: #F9EFCF;

                &:active {
                    background-color: #F38281;

                }
            }
        }
    }

    .row:nth-of-type(3) div {
        gap: 30px;
        position: relative;

        img:nth-of-type(1):hover ~ .wedo__image__one > div,
        img:nth-of-type(2):hover ~ .wedo__image__two > div,
        img:nth-of-type(3):hover ~ .wedo__image__three > div {
            display: block;
        }     
    }

    .row:nth-of-type(4) div p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-top: 40px;
    }

    .row:nth-of-type(5) div p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-top: 20px;
    }
}

.six_cons {
    background-color: #F8F8F8;

    .col-lg-12 {
        padding: 64px 0 66px 0;
        gap: 30px;
    
        img {
            width: 57px;
            height: 60px;
        }
    }
}

.work {
    padding-bottom: 84px;

    .header__line {
        margin-bottom: 41px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .container .row:nth-of-type(2) div > p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 84px;
    }

    .work__items {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);

        .item3 {
            background-color: red;
            grid-row: 1/3;
            grid-column: 3/4;
        }

        .items_cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display: block; 
            background-size: cover;
        }
    }

}

.slidertwo {
    padding-bottom: 84px;
}

.happy {
    background: url(../img/section_happy/Group\ 13.png) no-repeat center center / cover;
    padding-bottom: 60px;

    .header__line {
        margin-bottom: 41px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .container .row:nth-of-type(2) div > p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 84px;
    }

    .col-lg-6 {
        padding: 0 20px 0 20px;
        display: flex;

        div:first-child {
            margin-right: 50px;
        }

        div:last-child {
            h2 {
                padding: 0px 0 0px 0;
                text-transform: uppercase;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }

            p:nth-of-type(1) {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
                padding-bottom: 0px;
            }

            .header__line {
                width: 70px;
                margin: 51px 0 64px 0;
            }

            p:nth-of-type(2) {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }

    .happy__two {
        margin-top: 150.21px;
    }
}

.stories {
    padding-bottom: 90px;

    .header__line {
        margin-bottom: 41px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .col-lg-4 {
        position: relative;

        div {
            h2 {
                margin-top: 30px;
                text-transform: uppercase;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
    
            p {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 30px;
            }
    
            .stories__jan {
                p {
                    padding-top: 8px;
                    line-height: 30px;
                    position: absolute;
                    background-color: #95E1D3;
                    top: 150px;
                    left: 0px;
                    width: 80px;
                    height: 80px;
                    background-color: #95E1D3;
                    border-left: 1px solid #FFFFFF;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 75px;
                    color: #FFFFFF;
                    line-height: 30px;
                    text-transform: uppercase;
                }
                
                span {
                    font-size: 36px;
                    font-weight: 700;
                }
            }
        }

        .stories__messages div:nth-of-type(1) {

            div {
                width: 28px;
                height: 19px;
                background: url(../img/section_stories/Group.png) no-repeat center center / cover;
                border: 0;
            }

            p {
                margin-top: -2px;
            }
        }

        .stories__messages div:nth-of-type(2) {

            div {
                width: 23px;
                height: 23px;
                background: url(../img/section_stories/Group\ \(1\).png) no-repeat center center / cover;
                border: 0;
            }

            p {
                margin-top: -2px;
            }
        }

    }

}

.latest {
    background: url(../img/section_latest/Group\ 14.png) no-repeat center center / cover;

    .header__line {
        margin-bottom: 42px;
        background-color: #F38281;
        border: 2px solid #F38281;
    }

    .title__two {
        padding-top: 28px;
    }
}

.footer {
    background-color: #F8F8F8;
    padding-bottom: 5px;

    .header__line {
        width: 100%;
        margin-bottom: 42px;
        border: 1px solid #C6CBCD;
        margin: 30px 0 13px 0;
    }

    .col-lg-4 {
        & > img {
            margin: 80px 0 38px 0;
        }

        & > p {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #C6CBCD;
        }

        & > p ~ p {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 40px;
            color: #2D3033;

            & > span {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
            }

            & > span ~ span {
                font-size: 16px;
                font-style: italic;
                font-weight: 100;
            }
        }

        & > div ~ div {
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #C6CBCD;
            margin-bottom: 49px;
        }

        & > div ~ div ~ div {
            display: flex;
            border: 1px solid #C6CBCD;
        }

        input {
            width: 234px;
            height: 55px;
            font-size: 18px;
            background-color: #FFFFFF;
            padding: 0px 20px 0px 20px;

            &::placeholder {
                text-align: center;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
            }
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 135px;
            height: 55px;
            background-color: #95E1D3;
            color: #FFFFFF;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
        }
    }

    .col-lg-5 {

        & > h2 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
            margin: 80px 0 38px 0;
        }

        div {
            img {
                width: 170px;
                height: 105px;
            }
        }

        div {
            h2 {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
            }

            p {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;  
            }
        }
    }

    .col-lg-3 {

        h2 {
            margin: 80px 0 38px 0;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
        }

        .work__items {
            display: grid;
            grid-template: repeat(3, 1fr) / repeat(3, 1fr);

            .items_cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-repeat: no-repeat;
                background-position: center center;
                display: block; 
                background-size: cover;
            }
        }

        p {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            text-transform: uppercase;
            margin: 40px 0 39px 0;
            text-decoration: underline;
            color: #2D3033;
        }
    }

    & > div > p {
        display: flex;
        justify-content: center;
        border-top: 1px solid #C6CBCD;
        padding-top: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
    }
}


