* {
    /* margin: 0; */
    box-sizing: border-box;
}

.header {
    background: url(../img/header/Group\ 6.png) no-repeat center center / cover;

    .col-lg-10 {
        // background-color: red;
    }

    .header__menu {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        column-gap: 62px;

        a {
            width: 85px;
            height: 20px;
            gap: 30px;
            height: 20px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            align-items: center;

            &:hover {
                color: #F4BF87;
                border-bottom: 1px solid #F4BF87;
            }
        }
    }

    .header__creative {
        font-family: 'Kaushan Script';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 93px;
        padding-top: 100px;
    }

    .header__welcome {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 144px;
        line-height: 176px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .header__line {
        width: 170px;
        height: 1px;
        background-color: #FFFFFF;
        border: 2px solid #FFFFFF;
        margin-top: 44px;
    }

    .header__button {
        width: 370px;
        height: 80px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 4px solid #FFFFFF;
        margin: 74.42px 0 201px 0;
    }
}


