@media screen and (max-width: 1200px) {
    .header {
        .container {
            max-width: 990px;
        }
    }
}

@media screen and (max-width: 991.98px) {

    // md

    .header {

        .container {
            max-width: 720px;
        }

        &__logo {
            transform: scale(0.8);
        }

        &__menu {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            column-gap: 0px;
        }

        &__creative {
            font-size: 48px;
            line-height: 69.95px;
            padding-top: 72.31px;
        }

        &__welcome {
            font-size: 96px;
            line-height: 117.02px;
        }

        &__line {
            width: 115.28px;
            margin-top: 34px;
        }

        &__button {
            width: 317.14px;
            height: 52.61px;
            font-size: 18px;
            margin: 50.47px 0 136.31px 0;
        }
    }
}

@media screen and (max-width: 767.98px) {

    // sm

    .header {

        .container {
            max-width: 575.98px;
        }

        &__logo {
            transform: scale(0.6);
        }

        &__menu {
            font-size: 10px;
            
            a {
                width: 65px;
                padding-top: 2px;
            }
        }

        &__creative {
            font-size: 38px;
            line-height: 49.95px;
            padding-top: 42.31px;
        }

        &__welcome {
            font-size: 76px;
            line-height: 100.02px;
        }

        &__line {
            width: 100.28px;
            margin-top: 24px;
        }

        &__button {
            width: 280.14px;
            height: 42.61px;
            font-size: 14px;
            margin: 40.47px 0 116.31px 0;
        }

        .col-lg-11 {
            img {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 575.98px) {

    // col

    .header {

        .container {
            max-width: 100%;
        }

        .hamburger {
            display: block;
        }

        .col-lg-11 {
            display: none !important;
        }

        &__logo {
            transform: scale(0.5);
        }

        &__menu {
            
            font-size: 10px;
            
            a {
                width: 65px;
                padding-top: 2px;
            }
        }

        &__creative {
            font-size: 36px;
            line-height: 52.24px;
            padding-top: 32.31px;
        }

        &__welcome {
            font-size: 48px;
            line-height: 58.51px;
        }

        &__line {
            width: 134px;
            margin-top: 14px;
        }

        &__button {
            width: 284.23px;
            height: 52.61px;
            font-size: 18px;
            margin: 30.47px 0 100.31px 0;
        }
    }
}